

POWERING THE NEW ENGINEER TO TRANSFORM THE FUTURE ===============================

With a $50 million catalyst gift from Dr. Herbert & Nicole Wertheim and the Dr. Herbert & Nicole Wertheim Family Foundation, the college has embarked on a $300 million public-private partnership that will leverage support from the state, the university and from private donors, resulting in the biggest transformation  in our 107-year history.

How will you transform the future? 
GIVE NOW - https://www.uff.ufl.edu/OnlineGiving/FundDetail.asp?FundCode=018435 

=================================================================================

View this email in your browser - %%view_email_url%% 

=================================================================================

https://www.facebook.com/ufwertheim 

https://twitter.com/ufwertheim 

https://www.youtube.com/user/gatorengineering 

https://www.linkedin.com/edu/school?id=193009 

https://www.instagram.com/ufwertheim/ 

https://www.flickr.com/photos/gatorengineering/ 

=================================================================================

%%Member_Busname%%
%%Member_Addr%%
%%Member_City%%, %%Member_State%% %%Member_PostalCode%%

You are receiving this email because you opted in at our website or because you are affiliated with Herbert Wertheim College of Engineering.

Unsubscribe/manage subscriptions - %%subscription_center_url%% 

Manage your profile -  %%profile_center_url%% 

<custom name="opencounter" type="tracking">